# Ignore local dependencies (Crucial for pnpm!)
node_modules
apps/**/node_modules
packages/**/node_modules

# Ignore local build folders
dist
build
apps/**/dist
packages/**/dist

# Ignore logs and git
.git
*.log
npm-debug.log*
pnpm-debug.log*

# Ignore environment variables
.env
.env.*